name: Lint

on:
  push:
  pull_request:

jobs:
  go:
    name: Go
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.2

  js:
    name: JavaScript
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: npm
          cache-dependency-path: js/package-lock.json

      - run: npm ci
        working-directory: js

      - run: npm run lint
        working-directory: js
